@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  html {
    @apply font-sans;
    -webkit-font-smoothing: antialiased;
  }

  code,
  kbd,
  pre,
  samp {
    font-family: var(--font-mono);
  }
  h1,
  h2,
  h3 {
    font-family: var(--font-heading);
  }
}
